body {
    background: lightgray;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: space-between;
}

#home {
    background: mediumpurple;
    padding-top: 1cm;
    padding-bottom: 1cm;
}

header {
    font-size: 30px;
    float: left;
    padding-left: 2cm;
    color: beige;
}

nav {
    float: right;
    padding-right: 1cm;
}

.top-menu {
    color: lightgray;
    background-color: blueviolet;
    margin: 10px;
    padding: 10px;
    font-size: 20px;
    text-decoration: none;
    border-radius: 1mm;
}

.top-menu:hover {
    color: white;
    font-weight: bolder;
    background: darkviolet;
    text-decoration: underline;
}

figure {
    text-align: center;
    width: 200px;
}

img {
    width: 100%
}

figcaption {
    color: black;
    font-size: 17px;
}

#all-conversion {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.convert-panel {
    border-top-style: solid;
    background-color: white;
    border-top-width: 20px;
    width: 600px;
    height: 400px;
    border-radius: 10px;
    margin-bottom: 25px;
    margin-top: 25px;
    display: flex;
}

.temperature {
    border-top-color: green;
}

.weight {
    border-top-color: coral;
}

.distance {
    border-top-color: cyan;
}

legend {
    font-size: 30px;
    font-weight: bold;
}

button{
    font-size: 20px;
    border: transparent;
    width: fit-content;
    background-color: rgb(173, 218, 173);
    border-radius: 40px;
    padding-right: 15px;
    padding-left: 15px;
}

button:hover {
    cursor: pointer;
}

.icon-button{
    width:40px;
    height:40px;
    border-radius: 100%;
    background-color: lightgray;
    position: fixed;
    bottom: 30px;
    right: 10px;
}

footer {
    background-color: rgb(240, 234, 245);
    padding: 1em;

}